<div style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0">
    <center>
        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="520" style="background-color:#ffffff;max-width:520px">
            <tbody>
                <tr>
                    <td bgcolor="#eeeeee" width="20" style="background-color:#a8d1d8"></td>
                    <td width="480">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td bgcolor="#eeeeee" height="20" style="background-color:#a8d1d8"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-bottom-color:#eeeeee;border-bottom-style:solid;border-bottom-width:1px">
                                            <tbody>
                                                <tr>
                                                    <td height="49"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" class="8d689d3359818dca13054b5249a403d2m_-3628048282416003633whom" style="color:#f38f25;font-family:'roboto' , 'opensans' , 'open sans' , 'arial' , sans-serif;font-size:32px;font-weight:300;line-height:46px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:25px;padding-right:25px;padding-top:0;text-align:center"> <h2 id="alert">Welcome!</h2></td>
                                                </tr>
                                                <tr>
                                                    <td height="20"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" class="0b966e6d2d0d165b60598d8a5ba53be8m_-3628048282416003633parasec" style="color:#757575;font-family:'roboto' , 'opensans' , 'open sans' , 'arial' , sans-serif;font-size:17px;font-weight:300;line-height:24px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:25px;padding-right:25px;padding-top:0;text-align:center">
                                                       Your login ip is {{ip}} <br></td>
                                                </tr>

                                                <tr>
                                                    <td align="center" class="0b966e6d2d0d165b60598d8a5ba53be8m_-3628048282416003633parasec" style="color:#757575;font-family:'roboto' , 'opensans' , 'open sans' , 'arial' , sans-serif;font-size:17px;font-weight:300;line-height:24px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:25px;padding-right:25px;padding-top:0;text-align:center"> <br>
                                                       Please confirm the link below to change the password... <br></td>
                                                </tr>
                                                <tr>
                                                    <td height="30">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" class="0b966e6d2d0d165b60598d8a5ba53be8m_-3628048282416003633parasec" style="color:#757575;font-family:'roboto' , 'opensans' , 'open sans' , 'arial' , sans-serif;font-size:17px;font-weight:300;line-height:24px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:25px;padding-right:25px;padding-top:0;text-align:center"> Confirm Link to Reset your password <br>
                                                    <a href="http://{{ domain }}{% url 'password' uidb64=uid token=token %}"> reset your password</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="30">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-bottom-color:#eeeeee;border-bottom-style:solid;border-bottom-width:1px">
                                                            <tbody>
                                                                <tr>
                                                                    <td height="32"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center">
                                                                        <a style="color:#4285f4;text-decoration-line:underline" class="daria-goto-anchor" target="_blank" rel="noopener noreferrer">
                                                                            <img src="https://crowdnext.com/static/images/pic_1.png"/>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="15"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" class="8c5b7f3ea9ebcf2d9a719d1cfde5f84cm_-3628048282416003633paraheading" style="color:#757575;font-family:'roboto' , 'opensans' , 'open sans' , 'arial' , sans-serif;font-size:24px;font-weight:300;line-height:33px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:25px;padding-right:25px;padding-top:0;text-align:center"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="4" style="font-size:4px;line-height:4px"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" class="9d47ebbbf08de3b08d9c139f7b43c573m_-3628048282416003633para" style="color:#757575;font-family:'roboto' , 'opensans' , 'open sans' , 'arial' , sans-serif;font-size:17px;font-weight:300;line-height:24px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:25px;padding-right:25px;padding-top:0;text-align:center">Complete the set up for your Account Settings - an easier way to get things done</td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="20"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="30"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#eeeeee" height="18" style="background-color:#a8d1d8"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td bgcolor="#eeeeee" width="20" style="background-color:#a8d1d8"></td>
                </tr>
            </tbody>
        </table>
        <div style="display:none;font-family:'courier';font-size:15px;font-style:normal;font-variant:normal;font-weight:normal;line-height:0;white-space:nowrap">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
    </center>
    <div class="905593a53996f9164c55f71a130340a3yj6qo"></div>
    <div class="5aa247f9c1131da8729dbc2f8456043eadL">
    </div>
</div>
